<a href="https://colab.research.google.com/github/Jatin666/PyProject1/blob/master/day%2014%20cad14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
 ##Write a Python program to create a tuple with different data types.
 print("creating a tuple with strings")
 string=('Diksha','Jatin','Pankaj','nabieu')
 print("creating a tuple with integer")
 string2=(1,2,3,4)
 print("creating a string with float\n")
 string3=(3.14,2.57,254.20,12.3)
 print(string)
 print(string2)
 print(string3)

creating a tuple with strings
creating a tuple with integer
creating a string with float

('Diksha', 'Jatin', 'Pankaj', 'nabieu')
(1, 2, 3, 4)
(3.14, 2.57, 254.2, 12.3)

In [13]:
##Write a Python program to add an item in a tuple.
string=('Diksha','Jatin','Pankaj','nabieu')
a='hitesh'
b=string + (a,)
print(b)

('Diksha', 'Jatin', 'Pankaj', 'nabieu', 'hitesh')

In [22]:
##Write a Python program to convert a tuple to a string.
tuple=(1,'i','i')
str=(tuple)
print(str)

(1, 'i', 'i')

In [23]:
 ##Write a Python program to find the length of a tuple
 string=('Diksha','Jatin','Pankaj','nabieu')
 print(len(string))

4

In [25]:
## Write a Python program to reverse a tuple
 string=('Diksha','Jatin','Pankaj','nabieu')
print(string[::-1])

('nabieu', 'Pankaj', 'Jatin', 'Diksha')

In [39]:
##Create a tuple of 50 random numbers from 1-25. Ask the user to input any no. from 1-25 and check the count of that particular number in your tuple
import random
start=0
end=" "
for i in range(50):
  empty=()
  computer=random.randint(1,25)
  empty=(computer,)
  print(empty,end=" ")
a=input("enter any number from 1-25")
count = empty.count(a)
print("the count is :"+str(count))

(13,) (22,) (12,) (6,) (25,) (23,) (11,) (4,) (7,) (5,) (20,) (16,) (22,) (21,) (17,) (16,) (7,) (4,) (17,) (3,) (15,) (8,) (6,) (18,) (9,) (14,) (11,) (13,) (3,) (22,) (19,) (5,) (7,) (20,) (21,) (19,) (21,) (1,) (18,) (10,) (8,) (17,) (4,) (4,) (22,) (22,) (14,) (5,) (20,) (18,) enter any number from 1-255

TypeError: ignored