<a href="https://colab.research.google.com/github/Jatin666/PyProject1/blob/master/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STRINGS**

HOW TO CREATE STRINGS 

FORMAT STRINGS

STRINGS METHOD

In [4]:
##CREATING STRINGS
a="hello world"
b=''' hii 
i m creating a string using quotes
like single quotes , double quotes 
and triple quotes. '''
c="single quotes are used for words , double quotes are used for sentences, triple quotes are used for multiple line or paragraph"
print(a+b+c)

hello world hii
i m creating a string using quotes
like single quotes , double quotes
and triple quotes. single quotes are used for words , double quotes are used for sentences, triple quotes are used for multiple line or paragraph

In [2]:
##example of using strings 
word ="CODETECHNIQ"
letter =word[0]
print(letter)

C

In [5]:
##another example of using string inde value
word ="CODETECHNIQ"
letter =word[3]
print(letter)

E

In [6]:
##accessing first character from  string
print("ACCESSING FIRST CHARACTER FROM THE STRING")
a="HELLO_WORLd"
print(a[0])

ACCESSING FIRST CHARACTER FROM THE STRING
H

In [7]:
##accessing last character from  string
print("ACCESSING LAST CHARACTER FROM THE STRING")
a="HELLO_WORLd"
print(a[-1])

ACCESSING LAST CHARACTER FROM THE STRING
d

In [8]:
##slicing character from a string
print("SLICING  A STRING ")
a="HELLO_WORLd"
print(a[1:4])

SLICING  A STRING
ELL

In [11]:
##reverse character of an string
print("reverse a string")
a="HELLO_WORLd"
print(a[::-1])

reverse a string
dLROW_OLLEH

In [12]:
#slicing 6th to 2nd last character
print("slicing 6th to 2nd last character")
a="HELLO_WORLd"
print(a[6:-2])

slicing 6th to 2nd last character
WOR

In [14]:
##concatination of two strings:
print("concatination of two strings")
a="hello "
b="i m adding two strings"
print(a+b)

concatination of two strings
hello i m adding two strings

In [16]:
print("printing multiple time same string")
a="hello "
b="i m adding two strings"
print(a*2)

concatination of two strings
hello hello

In [19]:
##using Escape Sequence
print("first we use triple quotes")
print('''He said, "What's there?"''')
print("now using escape sequence")
print('He said, "What\'s')
print("now using escape double quotes sequence")
print("He said, \"What's there\"")

first we use triple quotes
He said, "What's there?"
now using escape sequence
He said, "What's
now using escape double quotes sequence
He said, "What's there"

In [21]:
##using format() method
print("{},{} and {}".format('pankaj','gary','nabieu')+" are good friends" )
print("defalut way")

pankaj,gary and nabieu are good friends
defalut way

In [22]:
##using format method order using positional argument
print("{2},{0} and {1}".format('pankaj','gary','nabieu')+" are good friends" )

nabieu,pankaj and gary are good friends

In [23]:
#order using keyword argument
keyword_order = "{p}, {g} and {n}".format(p='pankaj',g='gary',n='nabeiu')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Keyword Order ---
pankaj, gary and nabeiu

In [25]:
##using strings method
print("len")
word=input("enter the length")
for i in range(len(word)):
    print(word[i])
    print("character is at index"+str(i)+'is:'+word[i])

len
enter the lengthhii
h
character is at index0is:h
i
character is at index1is:i
i
character is at index2is:i

In [29]:
##using lower()
print("lower")
word="DIKSHA"
print(word.lower())

lower
diksha

In [30]:
##using upper()
print("upper")
word="diksha"
print(word.upper())

upper
DIKSHA

In [31]:
##using strip()
print("using strip()")
word="  HII  "
print(word.strip())

using strip()
HII

In [32]:
##using isalpha()
print("using isalpha()")
word="abcdefghij"
print(word.isalpha())

using isalpha()
True

In [33]:
##using isdigit()
print("using isdigit()")
word="abcdefghij"
print(word.isdigit())

using isdigit()
False

In [39]:
##using startswith()
print("using startswith()")
a=input("enter the number: ")
a.startswith("+91")

using startswith()
enter the number: +918872103661

True

In [40]:
##using endswith()
print("using endswith()")
a=input("enter the number: ")
a.endswith("00")

using endswith()
enter the number: 88712216203

False

In [45]:
##using find()
print("find()")
a="abcdefghijkl"
s=a.find("c")
print(s)

find()
2

In [49]:
##using replace()
print("replace()")
a="abcdefghijkl"
s=a.replace("d","m")
print(s)

replace()
abcmefghijkl

In [51]:
##using split()
print("split()")
a="abcdefghijkl"
s=a.split("d")
print(s)

split()
['abc', 'efghijkl']

In [63]:
##using join()
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky